
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}
#map{text-align:"right";
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
    text-decoration: underline;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
    color: #5d6d7a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: 'Quicksand', sans-serif;
    color: #274054;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
    background: #fff;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul {
    list-style: disc;
    padding-left: 40px;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

ul li,
ol li {
    line-height: 1.8em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/* Links
--------------------------------------------- */
a {
    color: #02a95c;
}

a:visited {
    color: #02a95c;
}

a:hover,
a:focus,
a:active {
    color: #191970;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}
/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

.form input,
.form textarea,
.form select {
    border-color: #bfbfbf;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #595959;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #02a95c;
    -webkit-box-shadow: 0 0 5px 0 #02a95c;
    -moz-box-shadow: 0 0 5px 0 #02a95c;
    -o-box-shadow: 0 0 5px 0 #02a95c;
    -ms-box-shadow: 0 0 5px 0 #02a95c;
    box-shadow: 0 0 5px 0 #02a95c;
}

form ::-webkit-input-placeholder {
    font-style: 14px;
    color: #595959;
    font-family: 'Josefin Sans', sans-serif;
}

form :-moz-placeholder {
    font-style: 14px;
    color: #595959;
    font-family: 'Josefin Sans', sans-serif;
}

form ::-moz-placeholder {
    font-style: 14px;
    color: #595959;
    font-family: 'Josefin Sans', sans-serif;
}

form :-ms-input-placeholder {
    font-style: 14px;
    font-style: italic;
    color: #595959;
}

form select {
    font-style: italic;
    background: url(./../images/select-icon.png) no-repeat right center;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
}

form select::-ms-expand {
    /* for IE 11 */
    display: none;
}
/*Unite test CSS*/

.wp-block-button,
.wp-block-cover {
    margin-bottom: 15px;
}
.entry-content .wp-block-cover .wp-block-cover-text {
    color: #fff;
}
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
    display: block;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation li {
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
    margin: 0 0 1.5em;
}

.widget select {
    max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
    outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

    /*rtl:ignore*/
    float: left;

    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {

    /*rtl:ignore*/
    float: right;

    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.main-content-post-wrapper {
    padding: 120px 0px;
}

@media (max-width: 991px) {

    .main-content-post-wrapper {
        padding: 100px 0px;
    }

}

@media (max-width: 767px) {

    .main-content-post-wrapper {
        padding: 80px 0px;
    }

}

.main-content-wrapper {
    padding: 120px 0px;
}

@media (max-width: 991px) {

    .main-content-wrapper {
        padding: 100px 0px;
    }

}

@media (max-width: 767px) {

    .main-content-wrapper {
        padding: 80px 0px;
    }

}
.single-post-wrapper {
    padding: 120px 0px;
}

@media (max-width: 991px) {

    .single-post-wrapper {
        padding: 100px 0px;
    }

}

@media (max-width: 767px) {

    .single-post-wrapper {
        padding: 80px 0px;
    }

}

.error-404-wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
}

@media (max-width: 991px) {

    .error-404-wrapper {
        padding-top: 60px;
        padding-bottom: 100px;
    }

}

@media (max-width: 767px) {

    .error-404-wrapper {
         padding-top: 60px;
         padding-bottom: 100px;
    }

}


.error-404-wrapper .search-form input {
    background-color: #fff;
    height: 50px;
    font-size: 15px;
    padding: 6px 25px 6px 20px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #02a95c;
}
.error-404-wrapper .search-form {
    position: relative;
}
.error-404-wrapper .search-form input[type="submit"]:hover {
    background: #ffffff;
    border: 1px solid #02a95c;
    color: #02a95c;
}

.error-404-wrapper .search-form input[type="submit"] {
    background: #02a95c;
    border: 1px solid #02a95c;
    font-size: 16px;
    color: #ffffff;
    outline: 0;
    position: absolute;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}
/*Header CSS*/

/*--------------------------------------------------------------
#0.3  header
--------------------------------------------------------------*/
.site-header {
    /* navigation open and close btn hide for width screen */
    /* style for navigation less than 992px */
    /*navbar collaps less then 992px*/
}

.site-header .navigation {
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.site-header .navigation>.container {
    position: relative;
}

@media screen and (min-width: 992px) {
    .site-header .navigation {
        padding: 0 60px 0 45px;
    }
}


.site-header #navbar {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    /*** mega-menu style ***/
}

.site-header #navbar>ul li a:hover,
.site-header #navbar>ul li a:focus {
    text-decoration: none;
    color: #02a95c;
}

.site-header .navbar-header .site-branding {
    margin-bottom: 0px;
    padding: 0;
    padding-top: 23px;
    font-size: 30px;
    margin-top: 5px;
}

.site-header .navbar-header .site-branding.site-title {
    padding-top: 23px;
}

.site-header .navbar-header .site-branding img {
    max-width: 150px;
}

@media screen and (min-width: 1200px) {

    .site-header .navigation #navbar {
        margin-right: 100px;
    }

    .site-header .navbar-header {
        min-height: 100px;
    }

}

@media screen and (min-width: 1200px) {
    .site-header #navbar>ul>.menu-item-has-children>a:before {
        font-family: 'FontAwesome';
        content: "\f107";
        font-size: 20px;
        position: absolute;
        right: 1px;
        top: 40%;
    }
}

@media screen and (min-width: 992px) {
    .site-header #navbar {
        /*** hover effect ***/
    }

    .site-header #navbar li {
        position: relative;
    }

    .site-header #navbar>ul>li>a {
        font-size: 16px;
        padding: 40px 20px;
        color: #274054;
        font-weight: 600;
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: none;
    }

    .site-header.site-header-s2 #navbar>ul>li>a {
        color: #fff;
    }

    .site-header #navbar>ul .sub-menu {
        background-color: #fff;
        width: 220px;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
        padding-left: 0px;
        list-style: none;
        box-shadow: 0 0 15px rgb(216 216 216 / 50%);
    }

    .site-header #navbar>ul>li .sub-menu li {
        border-bottom: 1px solid #e6e6e6;
    }

    .site-header #navbar>ul>li .sub-menu a {
        font-size: 14px;
        display: block;
        padding: 8px 15px;
        color: #274054;
        font-family: 'Josefin Sans', sans-serif;
         text-decoration: none;
    }

    .site-header #navbar>ul>li>.sub-menu .sub-menu {
        left: -100%;
        top: 0;
    }

    .site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a {
        position: relative;
    }

    .site-header #navbar>ul>li>.sub-menu>.menu-item-has-children>a:before {
        font-family: 'FontAwesome';
        content: "\f107";
        font-size: 18px;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .site-header #navbar>ul>li:hover>.sub-menu,
    .site-header #navbar>ul>li.focus>.sub-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        margin-left: 0px;
        padding-left: 0px;
    }

    .site-header #navbar .sub-menu>li:hover>.sub-menu,
    .site-header #navbar .sub-menu>li.focus>.sub-menu {
        left: -100%;
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    .site-header #navbar {
        /*** hover effect ***/
    }

    .site-header #navbar .has-mega-menu {
        position: static;
    }

    .site-header #navbar .mega-menu,
    .site-header #navbar .half-mega-menu {
        background-color: #fff;
        padding: 20px;
        border-top: 2px solid #02a95c;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }

    .site-header #navbar .mega-menu {
        width: 1140px;
        right: 15px;
    }

    .site-header #navbar .half-mega-menu {
        width: 585px;
    }

    .site-header #navbar .mega-menu-box-title {
        font-size: 14px;
        font-size: 0.93333rem;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding-bottom: 7px;
        margin-bottom: 7px;
        border-bottom: 1px solid #e6e6e6;
    }

    .site-header #navbar .mega-menu-list-holder li a {
        font-size: 14px;
        font-size: 0.93333rem;
        display: block;
        padding: 7px 8px;
        margin-left: -8px;
    }

    .site-header #navbar .has-mega-menu:hover>ul {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 1199px) {
    .site-header #navbar>ul .mega-menu {
        width: 950px;
        right: 15px;
    }

    .site-header #navbar>ul .half-mega-menu {
        width: 485px;
    }
}

@media (max-width: 991px) {
    .site-header #slide-nav>ul {
        padding: 0 15px;
    }

    .site-header #slide-nav>ul>li a {
        display: block;
        font-size: 15px;
        color: #fff;
        padding: 15px 25px;
        padding-left: 10px;
    }

    .site-header #slide-nav>ul>li {
        border-bottom: 1px solid #282f33;
    }

    .site-header #slide-nav>ul>li:last-child {
        border-bottom: 0;
    }

    .site-header #slide-nav>ul>li .sub-menu {
        padding: 0 15px;
        list-style: none;
        padding-left: 0px;
    }

    .site-header #slide-nav>ul>li .sub-menu li {
        border-bottom: 1px solid #282f33;
    }

    .site-header #slide-nav>ul .sub-menu>li:last-child {
        border-bottom: 0;
    }

    .site-header #slide-nav>ul>li>.sub-menu a {
        padding: 8px 15px 8px 20px;
    }

    .site-header #slide-nav>ul>li>.sub-menu .sub-menu a {
        padding: 8px 15px 8px 65px;
    }

    .site-header #slide-nav>ul .menu-item-has-children>a {
        position: relative;
    }

    .site-header #slide-nav>ul .menu-item-has-children>a:before {
       font-family: 'FontAwesome';
        content: "\f107";
        font-size: 18px;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .site-header #slide-nav>ul .mega-menu,
    .site-header #slide-nav>ul .half-mega-menu {
        width: auto;
    }

    .site-header #slide-nav>ul .mega-menu .row,
    .site-header #slide-nav>ul .half-mega-menu .row {
        margin: 0;
    }

    .site-header .mega-menu-content>.row>.col {
        margin-bottom: 25px;
    }

    .site-header #slide-nav .mega-menu .mega-menu-list-holder a {
        padding: 5px 15px 5px 40px;
    }

    .site-header #slide-nav .mega-menu .mega-menu-box-title {
        font-size: 14px;
        font-size: 0.93333rem;
        text-transform: uppercase;
        display: block;
        border-bottom: 1px dotted #b3b3b3;
        padding: 0 0 4px 5px;
        margin: 0 25px 8px 25px;
    }
}

@media screen and (min-width: 992px) {
    .site-header .navbar-header .open-btn {
        display: none;
    }

    .site-header #navbar .close-navbar {
        display: none;
    }
}

@media (max-width: 991px) {
    .site-header {
        /* class for show hide navigation */
    }

    .site-header .container {
        width: 100%;
    }

    .site-header .navbar-header button {
        background-color: #02a95c;
        width: 40px;
        height: 35px;
        border: 0;
        padding: 5px 10px;
        outline: 0;
        position: absolute;
        right: 15px;
        z-index: 20;
        top: 2px;
    }

    .site-header .navbar-header button span {
        background-color: #000;
        display: block;
        height: 2px;
        margin-bottom: 5px;
    }

    .site-header .navbar-header button span:last-child {
        margin: 0;
    }

    .site-header #navbar {
        background: #fff;
        display: block !important;
        width: 280px;
        height: 100% !important;
        margin: 0;
        padding: 0;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        position: fixed;
        right: -330px;
        top: 0;
        z-index: 100;
    }

    .site-header #navbar ul a {
        color: #000;
    }

    .site-header #navbar ul a:hover,
    .site-header #navbar ul li.current a {
        color: #02a95c;
    }

    .site-header #navbar .navbar-nav {
        height: 100%;
        overflow: auto;
    }

    .site-header #navbar .close-navbar {
        background-color: #fff;
        width: 40px;
        height: 40px;
        color: #000;
        border: 0;
        outline: none;
        position: absolute;
        left: -41px;
        top: 90px;
        z-index: 20;
    }

    .site-header #navbar .close-navbar .ti-close {
        position: relative;
        top: 1px;
    }

    .site-header #navbar>ul>li {
        border-bottom: 1px solid #f2f2f2;
    }

    .site-header #navbar>ul>li>a {
        padding: 10px 15px 10px 35px;
    }

    .site-header .slideInn {
        right: 0 !important;
    }
}

.site-header .navbar-header .site-branding.site-logo {
    padding-top: 30px;
}

@media (max-width: 991px) {
    .site-header .navbar-header .site-branding {
        font-size: 24px;
        padding-top: 13px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .site-header .navbar-header .site-branding.site-title {
        padding-top: 13px;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .site-header .navbar-header .site-branding.site-logo {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .site-header .navbar-header .site-branding {
        font-size: 24px;
        padding-top: 15px;
        margin-left: 10px;
    }

    .site-header .navbar-header .site-branding.site-logo {
        padding-top: 10px;
    }

    .site-header #navbar .navbar-nav {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .site-header .collapse {
        display: block;
    }

    .site-header .navbar-collapse.collapse.in {
        display: block;
    }

    .site-header .navbar-header .collapse,
    .site-header .navbar-toggle {
        display: block;
    }

    .site-header .navbar-header {
        float: none;
    }

    .site-header .navbar-right {
        float: none;
    }

    .site-header .navbar-nav {
        float: none;
    }

    .site-header .navbar-nav>li {
        float: none;
    }
}

@media (max-width: 991px) {
    .page-wrapper {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }

    .body-overlay:before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }
}

@media screen and (min-width: 992px) {
    .site-header .close-btn {
        display: none;
    }
}

@media (max-width: 991px) {
    .site-header button.open-nav-btn {
        font-size: 1.5rem;
        border: 1px solid black;
        background-color: transparent;
        margin: 10px;
    }

    .site-header .slide-content {
        height: 100% !important;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #1d2327;
        overflow-x: hidden;
        -webkit-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
        padding: 60px 25px 25px;
        visibility: hidden;
        z-index: 10000;
    }

    .admin-bar .site-header .slide-content {
        top: 32px;
    }

    .site-header .slide-content a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #F5F5F5;
        display: block;
    }

    .site-header .slide-content a:focus,
    .site-header .slide-content button:focus {
        outline: 2px solid orange;
    }

    .site-header main a:focus,
    .site-header .open-nav-btn:focus {
        outline: 2px solid orange;
        outline-offset: 5px;
    }

    .site-header .close-btn {
        font-size: 25px;
        color: #ffffff;
        background-color: #1d2327;
        display: block;
        border: 2px solid #02a95c;
    }

    .site-header .slide-content a:hover,
    .site-header .slide-content a:focus {
        text-decoration: underline;
    }

    .site-header .slide-content .close-btn {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 22px;
        margin-left: 50px;
        padding: 10px;
    }

    .site-header .visible {
        visibility: visible;
    }

    .site-header .active {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .admin-bar .site-header .slide-content {
        top: 45px;
    }
}

.slide-content {
    height: 100% !important;
}

.site-header .navigation {
    background-color: white;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
    transition: top 0.5s;
    z-index: 1000;


}

.site-header .sticky-on {
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100px;
}

.site-header .sticky-header {
    background-color: white !important;
    top: 0;
    z-index: 1;
}

.elementor-editor-active .sticky-on,
.admin-bar .site-header .sticky-on {
    position: inherit;
}

.site-header .navbar-header .site-branding h2,
.site-header .navbar-header .site-branding p {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.site-header .navbar-header .site-branding h2 a ,
.site-header .navbar-header .site-branding p a {
    text-decoration: none;
}
.site-header .navbar-header .site-branding p {
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.site-header .navbar-header .site-branding p.site-description {
    font-size: 22px;
} 
@media (max-width: 991px) {

    .site-header .navbar-header .site-branding h2 {
        font-size: 25px;
    }

    .site-header .navbar-header .site-branding p.site-description {
        font-size: 18px;
    } 
}
/******************************
  #entry-header
******************************/
.entry-header {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}

@media (max-width: 991px) {
    .entry-header {
        height: 300px;
    }
}

.entry-header:before {
    content: "";
    background-color: #02a95cdb;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.entry-header .container {
    height: 100%;
    display: table;
}

.entry-header .container>.row {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    left: -15px;
}

.entry-header h2,
.entry-header ol {
    color: #fff;
}

.entry-header h2 {
    font-size: 58px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 991px) {
    .entry-header h2 {
        font-size: 48px;
    }
}

@media (max-width: 767px) {
    .entry-header h2 {
        font-size: 35px;
    }
}


/**********************************************************************
 *  Blog
 * *******************************************************************/
.sidebar-wrapper {
    border: 0;
    padding: 0;
}
.sidebar-wrapper ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}
.sidebar-wrapper .widget h2 {
    font-size: 18px;
    display: block;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 0.3em;
    margin: 0 0 1.2em;
    position: relative;
}


@media (max-width: 991px) {
    .sidebar-wrapper {
        margin-top: 90px;
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .sidebar-wrapper {
        margin-top: 80px;
        padding: 40px 20px;
    }
}

.sidebar-wrapper .widget + .widget {
    margin-top: 55px;
}

.sidebar-wrapper .widget_search {
    position: relative;
}

.sidebar-wrapper .widget_search form div {
    position: relative;
}

.sidebar-wrapper .widget_search input {
    background-color: #fff;
    height: 50px;
    font-size: 15px;
    padding: 6px 25px 6px 20px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #02a95c;
}

.sidebar-wrapper .widget_search input:focus {
    background-color: rgb(248 251 255);
}

.sidebar-wrapper .widget_search form input[type="submit"] {
    background: #02a95c;
    border: 1px solid #02a95c;
    font-size: 16px;
    color: #ffffff;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;

}

.sidebar-wrapper .widget_search form input[type="submit"]:hover {
    background: #ffffff;
    border: 1px solid #02a95c;
    color: #02a95c;
}

.sidebar-wrapper .category-widget ul li {
    font-size: 16px;
    font-size: 1rem;
    padding-left: 20px;
    position: relative;
}

@media (max-width: 767px) {
    .sidebar-wrapper .category-widget ul li {
        font-size: 16px;
        font-size: 1rem;
    }
}

.sidebar-wrapper .category-widget ul li:before {
    font-family: Flaticon;
    content: "\f106";
    font-size: 10px;
    font-size: 0.625rem;
    position: absolute;
    left: 0;
    top: 3px;
}

.sidebar-wrapper .category-widget ul>li+li {
    margin-top: 15px;
}

.sidebar-wrapper .category-widget ul a {
    color: #666;
}

.sidebar-wrapper .category-widget ul a:hover,
.sidebar-wrapper .category-widget ul li:hover:before {
    color: #02a95c;
}

.sidebar-wrapper .recent-post-widget .post {
    overflow: hidden;
}

.sidebar-wrapper .recent-post-widget .posts>.post+.post {
    margin-top: 15px;
}

.sidebar-wrapper .recent-post-widget .post .img-holder {
    width: 70px;
    float: left;
}

.sidebar-wrapper .recent-post-widget .post .details {
    width: calc(100% - 70px);
    float: left;
    padding-left: 25px;
}

.sidebar-wrapper .recent-post-widget .post h4 {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6em;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1199px) {
    .sidebar-wrapper .recent-post-widget .post h4 {
        margin: 0;
    }
}

.sidebar-wrapper .recent-post-widget .post h4 a {
    display: inline-block;
    color: #757575;
}

.sidebar-wrapper .recent-post-widget .post h4 a:hover {
    color: #02a95c;
}

.sidebar-wrapper .tag-widget ul {
    overflow: hidden;
}

.sidebar-wrapper .tag-widget ul li {
    float: left;
    margin: 0 8px 8px 0;
}

.sidebar-wrapper .tag-widget ul li a {
    background: rgba(200, 50, 38, 0.5);
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block;
    padding: 8px 18px 6px;
    color: #fff;
    border-radius: 50px;
}

.sidebar-wrapper .tag-widget ul li a:hover {
    background: #02a95c;
}

/**** pagination ****/
.pagination-wrapper {
    text-align: center;
}

@media (max-width: 991px) {
    .pagination-wrapper {
        text-align: left;
    }
}

.pagination-wrapper .pg-pagination {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

.pagination-wrapper .pg-pagination li {
    float: left;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .pagination-wrapper .pg-pagination li {
        margin-right: 5px;
    }
}

.pagination-wrapper .pg-pagination li:last-child {
    margin-right: 0;
}

.pagination-wrapper .pg-pagination li a {
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #a9b8c4;
    border: 2px solid #c9cfd4;
    display: block;
}

@media (max-width: 991px) {
    .pagination-wrapper .pg-pagination li a {
        width: 40px;
        height: 40px;
        line-height: 35px;
        font-size: 18px;
        font-size: 1.125rem;
    }
}

.pagination-wrapper .pg-pagination .active a,
.pagination-wrapper .pg-pagination li a:hover {
    background: #02a95c;
    border-color: #02a95c;
    color: #fff;
}

.pagination-wrapper .pg-pagination .fi:before {
    font-size: 15px;
    font-size: 0.9375rem;
}

.pagination-wrapper-left {
    text-align: left;
}

.pagination-wrapper-right {
    text-align: right;
}

@media screen and (min-width: 1200px) {
    .pagination-wrapper-right {
        padding-right: 50px;
    }
}

@media (max-width: 991px) {
    .pagination-wrapper-right {
        margin-top: 45px;
        text-align: left;
    }
}
.entry-more a.reammore-btn {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin-top: 35px;
}
.main-content-post-wrapper .entry-meta {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.main-content-post-wrapper .entry-title {
    margin-top: 35px;
    display: block;
}
.main-content-post-wrapper .entry-title h3 a {
    color: #274054;
}
/*footer CSS*/

.site-footer {
    background-color: #2b2e3a;
    position: relative;
}

.site-footer .site-info {
    padding: 20px 0;
    position: relative;
    color: #fff;
}
.site-footer .site-info a {
    color: #02a95c;
}
.site-footer .site-info a:hover {
    color: #fff;
}

.entry-footer {
    clear: both;
}

/*Single Post Comments */

.single-post-wrapper .comments-area  {
   margin-top: 50px;
}
.single-post-wrapper .comments-area .comments-title {
    font-size: 22px;
}

.single-post-wrapper .comments-area .comment-list {
   padding-left: 0;
}

.single-post-wrapper .comments-area .comment-list li {
   list-style: none;
   position: relative;
}

.single-post-wrapper .comments-area .comment-list article {
    padding: 35px 25px;
    border-bottom: 1px solid #ebebf1;
    position: relative;
}
.single-post-wrapper .comments-area .comment-list article .comment-reply-link {
    display: inline-block;
    padding: 0px 13px;
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
}
.single-post-wrapper .comments-area .comment-list article .comment-reply-link:hover {
    background-color: #02a95c;
}
.single-post-wrapper  .comments-area ol>li:last-child div {
    border-bottom: 0;
}
.single-post-wrapper  .comment-meta {
   position: relative;
}
.single-post-wrapper .comment-meta .avatar {
    display: block;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
}
.single-post-wrapper .comment-metadata {
    margin-left: 69px;
    margin-bottom: 15px;
    font-size: 14px;
}

.single-post-wrapper .comment-meta b.fn {
    margin-left: 72px;
    font-size: 14px;
}
.single-post-wrapper .comment-content {
    margin-left: 74px;
}
.single-post-wrapper .comment-respond {
    margin-top: 50px;
}
.single-post-wrapper .comment-respond .form-submit input {
    max-width: 180px;
    background-color: #02a95c;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    display: block;
    padding: 18px 30px;
}
.single-post-wrapper .comment-respond .form-submit input:hover {
    background-color: #333;
}

.single-post-wrapper .entry-meta-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
}
.single-post-wrapper .comment-form p {
   margin-bottom: 10px;
}
.single-post-wrapper .comment-form label {
    display: block;
    font-size: 14px;
    font-weight: 500;
}
.single-post-wrapper .comment-form input[type="text"],
.single-post-wrapper .comment-form input[type="email"],
.single-post-wrapper .comment-form input[type="url"] {
    width: 100%;
    height: 45px;
    border: 1px solid #d6d6d6;
}
.single-post-wrapper .comment-form textarea {
    border: 1px solid #d6d6d6;
}

.comment-form-cookies-consent {
    display: flex;
}

#wp-comment-cookies-consent {
    margin-right: 7px;
}
